
@import url('https://fonts.googleapis.com/css?family=Cinzel|Lora&display=swap');


#content {
    font-family: 'Cinzel', sans-serif;
    
    max-width: 1000px;
    margin: 50px auto;
}
main {
    padding: 10px 50px;
}
h1, footer {
    font-family:'Cinzel', sans-serif;;
    background-color:#3b4d39;
    color: rgb(242, 255, 212);
    padding: 10px;
    text-align:center;
    font-size: 1rem;
}
h2 {
    
    font-size: 0.8rem;
    font-weight: bold;
}
footer a {
    color: rgb(242, 255, 212);
}
img{
    
    width: 25%;
    display: block;
    margin: 0 auto;
   
    
    }
li {
    padding: 5px 0;
}

@media screen and (min-width: 500px) {
    h1 {
      
        border-radius: 15px;
        font-size: 2rem;
    }
    h2{
        font-size: 1.8rem;
    }
    footer{
        border-radius: 15px;
        font-size: 1rem;
    }
    img{
        float: right;
        border-radius: 10px 10px 10px 10px;
        box-shadow:0px 1px 8px 3px gray;
        margin-top: 10px;
        margin-right: 20px;
        width: 15%;
    }
    #content {
        
        width: 80%;
        
    }
}