#content {
    width: 80%;
    max-width: 100px;
    margin: 50px auto;
}
main {
    padding: 30px 40px;
}
h1, footer {
    background-color: peachpuff;
    color: white;
    padding: 20px;
    text-align:center;
    border-radius: 15px;
}
footer a {
    color: white;
}
img{
    float: right;
    margin-top: -10px;
    width:60%;
}
li {
    padding: 7px 0;
}