/*mobile */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap') ;


body {
    font-family: "Lato", Arial, sans-serif;
    font-size: 16px;
    color: #302e2e;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: "Special Elite", monospace;
  }
  nav{
    list-style-type: none;
    background: #302e2e;
  }
  nav a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #afcbff;
    padding: 10px;
  }
  nav a:visited {
    color: white;
  }
  nav a:hover {
    color: #302e2e;
    background: white;
  }
  nav ul {
    display: flex;
    flex-direction:column;
    list-style-type: none;
  }
  ul {
    margin-top: 0px;
    padding-left: 0px;
  }
  nav ul.hide{
    display: none;
  }
  nav button {
    background: #302e2e;
    margin: .2rem 2%;
    border: none;
    font-size: 1.6rem;
    color:rgb(238, 236, 250);
    justify-content: center;
  }
  #menu {
    justify-content: center;
  }
  main {
    max-width: 960px;
    margin: 0 auto;
    align-content: center;
  }
  header {
    background: rgb(238, 236, 250);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  #motto {
    font-family: "Special Elite", monospace;
  }
  .active {
    background-color: rgba(190, 188, 188, 0.2);
    color: #f0f0f0;
  }
  #hero {
    width: 100%;
    display: block;
    margin: auto;
  }
  .mainhero {
    position: relative;
  }
  footer {
    background: white;
    padding: 15px;
    text-align: center;
    max-width: 960px;
    align-content: center;
    margin: auto;
  }
  
  .weathersummary {
    position: absolute;
    top: 5px;
    left: 10px;
    background: #302e2e;
    color: #f0f0f0;
    padding: 15px;
    text-align: center;
    opacity: .8;
  }
  .label {
    text-align: left;
    /*font-size: .8rem;
    line-height: 80%;*/
  }
  .townname {
    text-align: center;
  }
  .fiveday {
    align-content: center;
    display: none;
    padding:10px;
  }
  .fiveday h3 {
    text-align: center;
  }
  .forcastimg {
    max-width: 50px;
  }
  #class {
    max-width: 100%;
  }
  article {
    background: rgb(238, 236, 250);
    padding: 10px;
    overflow: auto;
  }
  .contact {
    background: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
  }
  .gallerygrid {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  .gallerygrid figure img {
    width: 100%;
  }
  /*---FORM---*/
  form fieldset {
    margin: 2rem 0;
    border: 1px solid rgb(238, 236, 250);
    padding: .5rem 2%;
  }
  form legend {
    color: #302e2e;
    margin: 0 1rem;
    padding: 0 .5rem;
  }
  form label.top {
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
    color: #302e2e;
  }
  form label.sbs {
    display: block;
    padding: .75rem;
    color: #302e2e;
  }
  form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(178, 228, 219, .5);
  }
  form label.sbs {
    display: block;
    padding: .75rem;
    color: #302e2e;
    font-size: .8rem;
  }
  form input.submitBtn {
    border: none;
    background-color: rgba(175, 203, 255, .5);
    color: #302e2e;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    border-radius: 1rem;
  }
  form label.top:required {
    border-left: 5px solid red;
  }
  form label.top:required:valid {
    border-left: 5px solid green;
  }
  form label.comments{
    height: 20px;
    width: 100%;
    max-width: 20rem;
  }
  /*-----INDEX-----*/
  .towns {
    display: flex;
    flex-flow: column wrap;
  }  
  .townPic {
    max-width: 100%;
  }
  @media only screen and (min-width: 32.5em) {

    .gallerygrid {
      grid-template-columns: repeat(2, 1fr);
    }
    .towns {
      display: grid;
      grid-template-areas: "left middle right";
      grid-column-gap: 10px;
    }
    #Preston {
      grid-area: left;
    }
    #SodaSprings {
      grid-area: middle;
    }
    #FishHaven {
      grid-area: right;
    }
    .contact {
      background: #f0f0f0;
      padding: 10px;
      display: grid;
      grid-template-areas: "left right";
      justify-items: center;
    }
    .contactinfo {
      grid-area: left;
    }
    .map {
      grid-area: right;
    }
    }

@media only screen and (min-width: 60em){
    nav ul {
      flex-direction: row;
    }
    nav ul li {
      display: block;
      flex: 1 1 auto;
      justify-content: center;
      margin: 0 auto;
    }
    nav li a {
      padding: 14px 16px;
    }
    /*nav li:first-child {
      display: none;
    }*/
    nav ul.hide {
      display: flex;
    }
    nav button {
      display: none;
    }
    ul {
      margin-top: 15px;
    }
    header {
      margin-bottom: -18px;
    }
    
    
    #class {
      max-width: 35%;
      float: right;
    }
    .fiveday {
      display: table;
      margin: 0 auto;
    }
    table {
      border-collapse: collapse;
    }
    table, th, td {
      border: solid #302e2e 2px;
      text-align: center;
      vertical-align: middle;
    }
    .gallerygrid {
      grid-template-columns: repeat(3, 1fr);
    }
    .gallerygrid figure:hover {
      box-shadow: 0 0 20px #302e2e;
    }
    