
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap');


header{
    background-color: rgb(238, 236, 250);
    border-radius: 10px;
    padding-bottom: 0.5em;
    
}
header h1{
    text-align: center;
    font-family: 'Cinzel', serif;
    padding-top: 1em;
}
h3{
    font-family: 'Cinzel', serif;
    font-size: 1.2em;
    border: solid 2px;
    border-radius: 2em;
    border-color: #747A87;
    background-color: rgb(238, 236, 250);
}
main h2{
    font-family: 'Cinzel', serif;
    font-size: 1.8em;
    text-align: center;
}
footer{
    background-color:  rgb(238, 236, 250);
    justify-content: center;
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
footer p{
    text-align: center;
}
main{
    background-color:White;
}
main p{
    text-align: center;
}
main h3{
    text-align: center;
}

.content{
    max-width: 70%;
    margin: 0 auto;
    border-radius: 50px;
}

nav {
    background-color:rgb(26, 25, 25) ;
    
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}
nav a{
    display: block;
    color:rgb(226, 239, 248 );
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-family: 'Lato';
}
nav a:hover{
    font-size: 1.1em;
    background-color: rgb(130, 171, 212);
}
nav ul li{
    flex: 1 1 100%;
}
p{
    font-family: 'San serif';
}
.logo-img{
    max-width: 10em;
    margin: 0 auto;
    display: inline-block;
    margin: 0 43%;
}
.color1{
    font-family:serif;
    background-color: rgb(238, 236, 250);
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 12px;;
}
.color2{
    font-family:serif;
    background-color: rgb(26, 25, 25);
    color:rgb(238, 236, 250);
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;;
}
.color3{
    font-family:serif;
    background-color:rgb(130, 171, 212);
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;;
}
.color4{
    font-family:serif;
    background-color:rgb(255, 178, 34);
    color:black;
    max-width: 60%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1em;
}
.people{
    display: flex;
    justify-content: center;
}
.people div{
    flex: 1 1 100%;
    padding:1em;
    width: 25em;
    height: 19em;
    margin-bottom: 2.5em;
    
}
.people div img{
    max-width: 90%;
    margin-left: 14em;
    padding-bottom: -1em;
      
}
img {
    max-width: 40%;
    margin-left: 16em;
    padding-top: 1em;
    padding-bottom: 2em;
}
.people1{
    background-color: transparent;
    perspective: 1000px;
}           
.people2{
    background-color: transparent;
    perspective: 1000px;    
}

 

  