  
/*mobile */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto&display=swap') ;

ul{
  font-size: large;
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
   
  }
  .active {
    color: black;
    background-color:  skyblue;
    border: 1rem;
}
  li{
    padding: 15px;
    display: none;
  }
  li:first-child{
    display: block;
  }
  .responsive li{
    display: block;
    background-color: skyblue;
  }
 
  nav a:hover{
    font-size: 1.1em;
    background-color: rgb(238, 236, 250);
    color: black;
}
 
.main{
  padding: 20px;
}
  nav a {
    color:  rgb(26, 25, 25) ;
    display: block;
    text-align: center;
    padding: 0.4em;
    text-decoration: none;
    font-family: 'Lato';
    background-color: skyblue;
    margin-left: -3rem;
    
  }
  body {
    max-width: 100%;
    margin: 1em;
    padding: .5em;
    display: grid;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
  }
  .content{
  max-width: 100%;
  margin: 1em;
  align-content: center;
  
  }
  .container {
  position: relative;
  text-align: center;
  color: black;
  padding-left: 60px;
  }
  
  h1, h2, h3, h4{
  font-family: Cinzel, bold;
  text-align: center;
  }

  
  .logo1 {
    position: absolute;
    width: 15%;
    top: 4rem;
    left: 6rem;
}
  header h1, p{
    color: rgb(26, 25, 25);
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    text-align: center;
  }
  
    header {
      text-align: center;
      color: White;
      background-color: rgb(238, 236, 250);
      padding: 20px;
      border-radius: 25px;
      max-height: 15%;
  }
  footer {
    text-align: center;
    color: White;
    background-color: whitesmoke;
  
        padding: 50px;
        max-height: 15%;
        margin-top: 1rem;
        width: 50%;
        margin-left: 1.6em;
    }



  footer a{
    color: black;
  }
 
  .area{
    text-align: center;
    display: block;
    
  }
  .hero {
    max-width: 80%;
    background-image: url(/lesson6/images/field\ image.jpeg);
    margin: 1em auto;
    padding: 1em;
    background-size: cover;
  }
 
    
  
  .forecast{
    max-width: 80%;
    background-color: skyblue;
    margin: 1em auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
   
}
.forecast-box{
    background-color:  skyblue;
    width: 80%;
    height: 3em;
    display:block;
    margin:0 auto;
    
}
.article{
  max-width: 80%;
  background-color: skyblue;
  margin: 1em auto;
  padding: 1em;
  display:flex;
  flex-direction: column;
}
.article-words{
  max-width: 100%;
}
.article-img{
  max-width: 100%;
}


.contact{
  max-width: 80%;
  background-color: skyblue;
  margin: 1em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-info{
  grid-column: 2/3;
  max-width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#forecast-table{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border-collapse: collapse;
  padding: 10px;
  width: 90%;
  
}

#forecast-table p{
  
  justify-self: stretch;
  align-self: stretch;
  margin: 0;
  border-collapse: collapse;
}

#forecast-table img{
  justify-self: center;
  padding: 5px;
  width: 90%;
}
.weather-summary{
  max-width: 20em;
  background-color: rgb(195, 208, 250,0.8);
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  opacity: 0.6;
  
}


#weather-table{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}

#weather-stats{
  text-align: right;
}


#weather-values{
  margin: 0em;
  text-align: left;
  
  padding-left: 7px;
  font-size: 2rem;
}



.map{
  grid-column: 1/2;
  max-width: 80%;
  margin: auto;
}
 
  
  @media screen and (min-width: 699px){
    
    .hero {
      
      background-image: url(/lesson6/images/hero-img-small.jpg);
      
    }
    header {
      display: flex;
      align-items:center;
      justify-content:center;
  }
      
    ul{
    flex-direction: row;
   } 
   nav ul{
    padding: 0.46em;
    height: 3em;
    background-color: skyblue;
    font-family: 'Serif';
    text-align: center;
    justify-content: space-around;
    font-size: large;
    margin-top: -1em;
    
  }
   li:first-child{
       display: none;
   }
   li{
       display: block; 
   }
   header h1,p{
   
    font-size: 1.2rem;
      }
 footer{
  width: 80%;
 }
    
  nav a {
        color:  black;
        margin-left: -0.9rem;
      }
 .logo1{
  position: relative;
  top: 1rem;
  left: 4rem;
  
      }
.article{
  display:grid;
  grid-template-columns:1fr 1fr;
}
  .article-words{
       
        grid-column: 1/2;
    max-width: 80%;
    margin: auto;
    
    }
  .article-img{
        max-width: 60%;
        grid-column: 2/2;
    max-width: 80%;
    margin: auto;
    }
    .navigation {
      display: flex;
      justify-content: space-evenly;
  }
  footer p{
      font-size: 1em;
      margin: 1em auto;
    text-align: center;
  }
  #weather-values p {
    padding-left: 2px;
    font-size: 1rem;
    }
    }

    /* big Screens */
@media only screen and (min-width: 1100px) {
    #primaryNav a {
        padding: 10px 5px;
    }

    h2 {
        font-size: 2.5em;
    }
    .hero {
      
      background-image: url(/lesson6/images/hero-img-large.jpg);
      
    }

  }